.footer {
  padding: 39px 0;
  background-color: $color-blue-charcoa;

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    @include vp-1023 {
      gap: 29px;
    }

    @include vp-767 {
      flex-direction: column;
      gap: 41px;
    }
  }

  &__col-base {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;

    @include vp-1023 {
      gap: 38px;
      max-width: 228px;
      width: 100%;
    }

    @include vp-767 {
      align-items: center;
      gap: 26px;
      margin: 0 auto;
      max-width: 100%;
    }
  }

  &__col-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include vp-767 {
      gap: 40px;
    }
  }

  &__logo-link {
    display: flex;
    color: $color-white;

    @include vp-1023 {
      width: 105px;
    }

    @include vp-767 {
      width: 88px;
    }

    &:hover, &:focus, &:focus-visible {
      background-color: transparent;
      color: $color-trout;
    }
  }

  &__logo {
    width: 114px;
    height: 26px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__contacts-mail {
    width: fit-content;
    font-size: 16px;
    line-height: 24px;

    @include vp-1023 {
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__contacts-tel {
    width: fit-content;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: -0.02em;

    @include vp-1023 {
      font-weight: 300;
      font-size: 20px;
    }
  }

  &__nav {
    display: flex;
    gap: 120px;
    margin: 0 0 0 auto;

    @include vp-1023 {
      gap: 30px;
      margin: 0;
    }

    @include vp-767 {
      flex-direction: column;
      align-items: center;
      gap: 13px;
      text-align: center;
    }
  }

  &__nav-list {
    width: 320px;
    margin: 0;
    padding: 0;
    list-style: none;

    @include vp-1023 {
      max-width: 220px;
      width: 100%;
    }
  }

  &__nav-item:not(:last-child) {
    margin: 0 0 20px 0;

    @include vp-1023 {
      margin: 0 0 18px 0;
    }

    @include vp-767 {
      margin: 0 0 14px 0;
    }
  }

  &__nav-link {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;

    @include vp-1023 {
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__legal {
    max-width: 680px;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: $color-white-50;

    @include vp-1023 {
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;
    }

    @include vp-767 {
      text-align: center;
    }
  }

  &--lite {
    padding: 30px 0;
    background-color: transparent;

    @include vp-1023 {
      padding: 20px 0;
    }

    @include vp-767 {

    }
  }

  &--lite &__contacts {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;

    @include vp-1023 {
      gap: 21px;
    }
  }

  &--lite a {
    color: inherit;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;

    @include vp-767 {
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
    }
  }
}
