.info-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 120px 0;
  padding: 85px 90px;
  background: $color-very-light-grey url("../../images/banner.jpg") no-repeat;
  background-size: cover;
  border-radius: 0 60px 0 60px;

  @include vp-1023 {
    flex-direction: column;
    gap: 20px;
    margin: 0 0 81px 0;
    padding: 40px;
  }

  @include vp-767 {
    gap: 15px;
    padding: 40px 10px;
    margin: 0 0 60px 0;
  }

  &__title {
    margin: 0 40px 0 0;
    font-size: 44px;
    font-weight: 300;
    line-height: 48px;
    color: $color-white;
    text-transform: uppercase;

    @include vp-1023 {
      margin: 0;
      font-weight: 300;
      font-size: 36px;
      line-height: 40px;
    }

    @include vp-767 {
      font-weight: 300;
      font-size: 24px;
      line-height: 26px;
    }
  }

  &__inner {
    max-width: 460px;
    margin: 0 0 0 auto;

    @include vp-1023 {
      margin: 0;
      max-width: 490px;
    }
  }

  &__text {
    margin: 0 0 30px 0;
    font-size: 16px;
    line-height: 22px;
    color: $color-white;
    text-align: right;

    @include vp-1023 {
      margin: 0 0 20px 0;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
    }

    @include vp-767 {
      margin: 0 0 15px 0;
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__link {
    display: block;
    width: 220px;
    margin: 0 0 0 auto;
    padding: 7px 10px;
    font-size: 14px;
    line-height: 18px;
    color: $color-blue-charcoa;
    text-align: center;
    background-color: $color-ecru-white;
    border-radius: 40px;

    @include vp-1023 {
      margin: 0 auto;
      width: 220px;
    }

    @include vp-767 {
      padding: 9px 10px;
      width: 160px;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
    }
  }
}
