.perfectionists {
  padding: 40px 0 120px;

  @include vp-1023 {
    padding: 32px 0 80px;
  }

  @include vp-767 {
    padding: 21px 0 59px;
  }

  &__title {
    max-width: 840px;
    margin: 0 auto 60px;
    font-size: 60px;
    font-weight: 200;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;

    @include vp-1023 {
      margin: 0 auto 38px;
      font-weight: 200;
      font-size: 48px;
      line-height: 52px;
      max-width: 95%;
    }

    @include vp-767 {
      margin: 0 auto 30px;
      font-weight: 200;
      font-size: 32px;
      line-height: 34px;
    }
  }

  &__title--h2 {
    font-size: 48px;
    line-height: 48px;

    @include vp-1023 {
      margin-bottom: 40px;
      font-weight: 200;
      font-size: 40px;
      line-height: 44px;
    }

    @include vp-767 {
      margin-bottom: 30px;
      font-weight: 200;
      font-size: 30px;
      line-height: 32px;
    }
  }
}
