.socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: flex-end;
  gap: 20px 32px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1023 {
    gap: 20px 20px;
  }

  @include vp-767 {
    gap: 20px 30px;
    margin: 0 auto;
  }

  &__link {
    display: flex;
  }
}
