.team-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 30px;
  background-color: $color-twilight-blue;
  border-radius: 20px;
  min-height: 463px;

  @include vp-1023 {
    min-height: unset;
  }

  @include vp-767 {
    padding: 20px;
    min-height: 460px;
  }

  &__job-title {
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 5px 0;

    @include vp-767 {
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__name {
    margin: 0 0 20px 0;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.04em;

    @include vp-767 {
      margin: 0 0 16px 0;
      font-weight: 300;
      font-size: 20px;
      line-height: 22px;
      letter-spacing: 0.04em;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 30px;
    height: 100%;

    @include vp-767 {
      grid-template-columns: 1fr;
      grid-template-rows: 130px 1fr;
      gap: 15px;
      flex-grow: 1;
    }
  }

  &__picture {
    @include vp-767 {
      height: 130px;
    }
  }

  &__img {
    width: 220px;
    height: 100%;
    border-radius: 12px;

    @include vp-767 {
      width: 120px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__quote {
    margin: 0 0 20px 0;
    font-size: 16px;
    line-height: 22px;

    @include vp-767 {
      margin: 0 0 10px 0;
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
    }
  }

  &--center &__quote {
    text-align: center;

    @include vp-767 {
      text-align: left;
    }
  }

  &__quote-text {
    margin: 0;
  }

  &__description {
    max-width: 270px;
    margin: 0 0 20px auto;
    font-size: 14px;
    line-height: 18px;
    text-align: right;

    @include vp-1023 {
      max-width: 275px;
    }

    @include vp-767 {
      margin: 0 0 23px auto;
      max-width: 255px;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
    }
  }

  &--center &__description {
    text-align: center;

    @include vp-767 {
      text-align: left;
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: auto 0 0 0;

    @include vp-1023 {
      margin: auto 0 0 auto;
    }

    @include vp-767 {
      gap: 15px;
    }
  }

  &__link {
    width: 140px;
    padding: 7px;
    font-size: 14px;
    line-height: 18px;
    color: $color-blue-charcoa;
    text-align: center;
    border-radius: 40px;

    @include vp-767 {
      padding: 9px;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__link--secondary {
    background-color: $color-ecru-white;
  }
}
