.technical-works {
  text-align: center;
  height: calc(100vh - 156px);

  &__container {
    height: 100%;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;

    @include vp-1023 {
      max-width: 528px;
      padding: 37px 0 0 0;
    }
  }

  &__title {
    margin: 0 0 30px 0;
    font-weight: 200;
    font-size: 32px;
    line-height: 36px;

    @include vp-1023 {
      margin: 0 0 20px 0;
      font-weight: 200;
      font-size: 28px;
      line-height: 32px;
    }

    @include vp-767 {
      max-width: 88%;
      font-weight: 200;
      font-size: 26px;
      line-height: 24px;
    }
  }

  &__text {
    margin: 0 0 60px 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;

    @include vp-1023 {
      margin: 0 0 40px 0;
    }

    @include vp-767 {
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__socials {
    margin: 0 auto;
    width: fit-content;

    @include vp-1023 {
      gap: 20px 32px;
    }

    @include vp-1023 {
      gap: 20px 24px;
    }
  }
}